/*
 * ScalePlayer Stylesheet file.
 */

#root-pane {
    -fx-pref-width: 400;
    -fx-pref-height: 300;
}

#button-box {
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.button {
    -fx-padding: 10;
}

#start-button {
    -fx-background-color: lightgreen;
}

#stop-button {
    -fx-background-color: pink;
}