/*
 * ScalePlayer Stylesheet file.
 */

#root-pane {
    -fx-pref-width: 2000;
    -fx-pref-height: 1280;
}

.row-divider {
    -fx-stroke: #e8e8e8;
}

.note-rect {
    -fx-fill: #7795F6;
    -fx-stroke: #000000;
}

.play-line {
    -fx-stroke: #E81A0B;
}

.selection-rect {
    -fx-fill: transparent;
    -fx-stroke: #f2c500;
}

.piano {
    -fx-background-color: lightgray;
}

.harpsichord {
    -fx-background-color: beige;
}

.marimba {
    -fx-background-color: lightsalmon;
}

.church-organ {
    -fx-background-color: lightblue;
}

.accordion {
    -fx-background-color: orange;
}

.guitar {
    -fx-background-color: lightgreen;
}

.violin {
    -fx-background-color: rosybrown;
}

.french-horn {
    -fx-background-color: gold;
}
